@import "tailwindcss";
export default {
  content: [
    "./index.html",
    "./src/**/*.{js,ts,jsx,tsx}",
  ],
  theme: {
    extend: {
      keyframes: { // Tambahkan blok keyframes ini
        bounce: {
          '0%, 100%': { transform: 'translateY(0)' },
          '50%': { transform: 'translateY(-10px)' }, // Naik 10px
        }
      },
      animation: { // Tambahkan blok animation ini
        bounce: 'bounce 1s infinite', // Animasi bounce dengan durasi 1 detik, berulang tak terbatas
      }
    },
  },
  plugins: [],
}